<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.promotion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginRegisterActivity" />
        <activity android:name=".SelectRoleActivity" />
        <activity android:name=".ViewRoleExamineStateActivity" />
        <activity android:name=".QueryDictionaryActivity" />
        <activity android:name=".CreateRoleActivity" />
        <activity android:name=".SearchSelectItemActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".MemberActivity" />
    </application>

</manifest>